.nav-link {
  /* color: #363636; */
  color: inherit;
  text-decoration: none;
}

.active {
  /* color: #f9a61c; */
  border-bottom: 2px solid #f9a61c;
  color: #6ba1c4;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bg-blur {
  box-shadow: 0px 30px 60px -15px rgba(143, 144, 188, 0.15) !important;
  backdrop-filter: blur(10px) !important;
  background: rgba(255, 255, 255, 0.8) !important;
}